<html>

<head>
    <title>Administrar solicitudes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/style.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body style="background:#f8f8f8; margin:0; padding:0;">
    <nav>
        <h1 class="logo"><img src="static/res/logo_ad.png" width="250" height="110"></h1>
    </nav>
    <br>
    <br>
    <div class="main ">

        <table id="request_table" class="table table-hover table-sm table-striped">

            <!-- <table border="0"  cellspacing="0" cellpadding="0" style="width:100%; border-bottom:1px solid #d8d8d8;"> -->
            <thead>
                <tr>
                    <th id="username">user</th>
                    <th id="solicitud">request url</th>
                    <th id="commentary">commentary</th>
                    <th id="initial_time">Evict time desde</th>
                    <th id="final_time">Evict time hasta</th>
                </tr>
            </thead>
            <tbody class="col-md-12" id="body-solicitud">
                <tr>
                    <td class="col-md-2">Jose</td>
                    <td class="col-md-2">youtube</td>
                    <td class="col-md-2">quiero entrar</td>
                    <td class="col-md-2" value="Date.getTime()">mi tiempo</td>
                    <td class="col-md-2">Hasta este mismo tiempo</td>

                </tr>
            </tbody>
        </table>


    </div>

    <script type="text/javascript">
        var eventOutputContainer = document.getElementById("event");
        var evtSrc = new EventSource("/sus");

        evtSrc.onmessage = function(e) {
            console.log(e.data);
            var datos = JSON.parse(e.data);
            console.log("Los datos son:", datos)
                // Find a <table> element with id="myTable":
            var table = document.getElementById("request_table");
            var arrdatos = [datos.user, datos.pagina, datos.commentary, datos.initial_time, datos.final_time]

            var tr = document.createElement("tr");



            arrdatos.forEach(element => {
                var txt = document.createTextNode(element);
                var td = document.createElement("td");
                td.appendChild(txt);
                tr.appendChild(td);
            });

            table.appendChild(tr);
            console.log('------------------------------------');
            console.log();
            console.log('------------------------------------');

            var comentarios = {
                // // // Add some text to the new cells:
                // // cell1.innerHTML = datos.user;
                // // cell2.innerHTML = datos.pagina;
                // // cell3.innerHTML = datos.commentary;
                // // cell4.innerHTML = initial_time;
                // // cell5.innerHTML = final_time;
                // var txt = document.createTextNode(datos.user);
                // var td = document.createElement("td");


                // td.appendChild(txt);
                // tr.appendChild(td);
                // table.appendChild(tr)
                // // Create an empty <tr> element and add it to the 1st position of the table:
                // var row = table.insertRow(1);

                // // Insert new cells (<td> elements) at the 1st and 2nd position of the "new" <tr> element:
                // var cell1 = row.insertCell(0);
                // var cell2 = row.insertCell(1);
                // var cell3 = row.insertCell(2);
                // var cell4 = row.insertCell(3);
                // var cell5 = row.insertCell(4);


                // // cell1.classList.add("add_user_addedlist");
                // // cell2.classList.add("add_user_addedlist");
                // // cell3.classList.add("add_user_addedlist");
                // // cell3.classList.add("add_user_addedlist");
                // // cell4.classList.add("add_user_addedlist");

                // cell1.classList.add("col-md-2");
                // cell2.classList.add("col-md-2");
                // cell3.classList.add("col-md-2");
                // cell4.classList.add("col-md-2");
                // cell5.classList.add("col-md-2");

                // initial_time = new Date(datos.initial_time);
                // final_time = new Date(datos.final_time);

                // // Add some text to the new cells:
                // cell1.innerHTML = datos.user;
                // cell2.innerHTML = datos.pagina;
                // cell3.innerHTML = datos.commentary;
                // cell4.innerHTML = initial_time;
                // cell5.innerHTML = final_time;

                // // cell4.innerHTML = '<button type="button" class="btn btn-outline-success">Aceptar</button>' + '<button type="button" class="btn btn-danger">Danger</button>'

            }


        };
        console.log("Escuchando los clientes");
    </script>

</body>

</html>